nav {
	position: sticky;
	top: 0px;

	z-index: 3;
	letter-spacing: 1px;
	font-style: italic;
}

nav ul{
	
	margin: 0;
	padding: 0; 


}
nav ul li{
	list-style-type: none;
	display: inline-block;
	position: relative;
}
nav ul li a {
	display: block;
	color:black;
	text-align: center;
	width: 100px;
	padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana;
}
nav ul ul {
	position: absolute;
	visibility: hidden;
}
nav ul li:hover ul{
	visibility: visible;
}
nav ul li a:hover{
	color:#333;
	
	
}

